:root{
    --teal: #2e7066;
    --teal_hover: #279e8c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: absolute;
}

*{
    font-family: 'Poppins', sans-serif;
}
.h-font{
    font-family: 'Merienda', cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

    input[type=number] {
    -moz-appearanc: textfield;
     }
    

.custom-bg{
    background-color: var(--teal);
    border: 1px solid var(--teal);
}
.custom-bg:hover{
    background-color: var(--teal_hover);
    border-color: var(--teal_hover);
}

.custom-alert{
    position: 150x;
    top: 80px;
    right: 25px;
    z-index: 111;
}


